<!DOCTYPE html>
<html>
<head>
  <title>HorrorsOn13th</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-3 navigation">
        <%= yield(:navigation) %>
      </div>
      <div class="col-md-9 header">
        <%= yield(:header) %>
      </div>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
